#footer-section {

    display: flex;
    background-color: #495e57;
    justify-content: center;
    padding: 1rem;
  
    img {
      width: 20%;
    }
  
    #footer-container {
      width: 75%;
      display: flex;
      justify-content: space-between;
  
      #reachtous {
        width: 20%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: #edefee;
        font-family: var(--karla);
        h2 {
          color: #f4ce14;
          font-family: var(--markaziBold);
        }
      }
  
      #gettoknow {
        width: 20%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
  
        a {
          color: #edefee;
          font-family: var(--karla);
        }
        h2 {
          color: #f4ce14;
          font-family: var(--markaziBold);
        }
      }
    }
  }

  @media (max-width: 768px) {
    #footer-section img{
      width: 60%;
    }
    #footer-container{
      display: flex;
      width: 100vw;
      align-items: center;
      /* text-align: center; */
      flex-direction: column;
      gap: 3rem

    }
     #footer-section #footer-container {
      #reachtous, #gettoknow{

        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        /* flex-wrap: wrap; */
        flex-direction: column;
        
        h2{
          font-size: 12vw;
        }
      }
      }
  }