#footer-section {

    display: flex;
    background-color: #495e57;
    justify-content: center;
    padding: 2rem;
  
    img {
      width: 20%;
    }
  
    #footer-container {
      width: 75%;
      display: flex;
      justify-content: space-between;
  
      #reachtous {
        width: 20%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: #edefee;
        font-family: var(--karla);
        h2 {
          color: #f4ce14;
          font-family: var(--markaziBold);
        }
      }
  
      #gettoknow {
        width: 20%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
  
        a {
          color: #edefee;
          font-family: var(--karla);
        }
        h2 {
          color: #f4ce14;
          font-family: var(--markaziBold);
        }
      }
    }
  }