#hero-section {
    width: 100vw;
    display: flex;
    height: max-content;
    justify-content: center;
    background-color: #4a5e57;
    padding: 2rem;
  
    #hero {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(5vw, 1fr));
      width: 75%;
      height: max-content;
      gap: 5vw;
  
      #hero-left {
     
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
      }
  
      #hero-left h1 {
        font-family: var(--markaziBold);
        color: #f4ce14;
        opacity: 0.9;
        font-size: 5vw;
        font-weight: 100;
      }
  
      #hero-left h3 {
        font-family: var(--markaziBold);
        color: #edefee;
        font-size: 3.8vw;
      }
      p {
        font-family: var(--karla);
        color: #edefee;
        margin-bottom: 2rem;
      }
    }
  }
  
  #hero-image {
    height: 60%;
    width: 100%;
    border-radius: 15px;
    margin-top: 1rem;
    z-index: 5;
  }

  @media screen and (max-width: 600px) {
    #hero-right{
      display: none;
    }
    #hero-section #hero #hero-left {
      h1{

        font-size: 13vw;
      }
      h3{
        font-size: 7.5vw;
      }
      p{
        font-size: 4.5vw;
      }
      button{
        font-size: 3.5vw;
      }

    }
    #hero-section{
      padding: 2rem;
      display: flex;
      justify-content: flex-start;
    }
  }