#note{
  font-family: var(--karla);
  color: #495e57;
}
#form {
    width: 100%;
    height: 70dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 2rem;
  }
  form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    font-family: var(--karla);
    padding: 1rem;
    background-color: #495e57;
    border-radius: 10px;
    width: 70vw;
  
    label {
      font-family: var(--karla);
      color: #edefee;
      font-size: 18px;
    }
  
    input,
    select {
      padding: 10px;
      border: none;
      border-radius: 8px;
      outline-color: #495e57;
      font-family: var(--karla);
      color: #495e57;
      font-size: 16px;
    }
  
    #form-heading {
      grid-column: 1/-1;
      text-align: center;
      font-size: 3vw;
      color: #f4ce14;
      font-family: var(--karla);
    }
  
    #form-button {
      grid-column: 1 / -1;
      text-align: center;
    }
  }
  #form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: auto;
    border-radius: 10px;
  }


  @media screen and (max-width: 600px) {
    form{
      grid-template-columns: repeat(1, 1fr);
      width: 90vw;
    }
  }