#specials-section {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
#special {
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
  
    h1 {
      font-family: var(--markaziBold);
      font-size: 5vw;
    }
  }
  #product-cards {
    margin-top: 3rem;
    width: 75%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }

  @media screen and (max-width: 600px) {
    #product-cards{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    #special{
      width: 80vw;
      h1{

        font-size: 12vw;
      }
      button{
        width: fit-content;
        padding: 5px;
        font-size: 3.5vw;
      }
    }
  }