* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: general sans;
}
body {
  background-color: white;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
#hero-section {
  width: 100%;
  height: 75dvh;
  display: flex;
  justify-content: center;
  background-color: #4a5e57;
  padding: 2rem;

  #hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 75%;
    gap: 19rem;
  }
}
#hero-image {
  height: 400px;
  width: 350px;
  border-radius: 15px;
  margin-top: 1rem;
  z-index: 5;

}
#specials-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

#special {
  display: flex;
  width: 75%;
  justify-content: space-between;
}
#product-cards {
  width: 75%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
#card {
  width: 20rem;
  height: 25rem;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #a3a3a3;
  box-shadow: 1px 5px 10px #495e57;
  /* filter: drop-shadow(0px 5px 10px #495e57); */
  


  img{
    width: 100%;
    height: 186px;
  }
}
