* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --markaziBold: "MarkaziText-Bold";
  --karla: "karla", sans-serif;
}
body {
  background-color: white;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
button {
  font-family: var(--karla);
  width: 10rem;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #f4ce14;
  color: #333333;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
nav ul > li {
  font-family: var(--karla);
}
#hero-section {
  width: 100%;
  height: 75dvh;
  display: flex;
  justify-content: center;
  background-color: #4a5e57;
  padding: 2rem;

  #hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 75%;
    gap: 15rem;

    #hero-left {
      height: 50%;
    }

    #hero-left h1 {
      font-family: var(--markaziBold);
      color: #f4ce14;
      opacity: 0.9;
      font-size: 64px;
      font-weight: 100;
    }

    #hero-left h3 {
      font-family: var(--markaziBold);
      color: #edefee;
    }
    p {
      font-family: var(--karla);
      color: #edefee;
    }
  }
}

#hero-image {
  height: 400px;
  width: 350px;
  border-radius: 15px;
  margin-top: 1rem;
  z-index: 5;
}
#specials-section {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

#special {
  display: flex;
  width: 75%;
  justify-content: space-between;

  h1 {
    font-family: var(--markaziBold);
    font-size: 48px;
  }
}
#product-cards {
  margin-top: 3rem;
  width: 75%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
#card {
  width: 20rem;
  height: 25rem;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #e8e8e8;
  box-shadow: 1px 5px 5px #c9c9c9;

  img {
    width: 100%;
    height: 186px;
  }
}
#reviews-section {
  width: 100%;
  height: 80vh;
  background-color: #495e57;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  #reviews-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;

    #reviews-heading h1 {
      color: #f4ce14;
      font-family: var(--karla);
      font-size: 48px;
      font-weight: bold;
    }

    #reviews-card {
      margin-top: 3rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      /* gap: 5rem; */
    }
  }
}
#review-card {
  width: 13rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 13rem;
  padding: 10px;
  background-color: #edefee;

  p {
    color: #495e57;
  }
  #user-title {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}

#about-section {
  width: 100%;
  height: 80dvh;
  display: flex;
  justify-content: center;
  padding: 2rem;

  #about-data {
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    #about-text {
      width: 15rem;
      padding-top: 2rem;

      h1,
      h3 {
        font-family: var(--markaziBold);
      }

      p {
        color: #495e57;
        font-family: var(--karla);
      }
    }

    #about-images {
      position: relative;
      display: flex;
      padding-top: 2rem;
      justify-content: flex-end;

      #image-chef {
        position: absolute;
        width: 400px;
        z-index: 999;
        height: 200px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        box-shadow: 0px 1px 20px grey;
      }
      #image-retaurant {
        position: absolute;
        width: 400px;
        height: 200px;
        z-index: -2;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        bottom: 35px;
        right: 18%;
        box-shadow: 0px 1px 20px grey;
      }
    }
  }
}
#footer-section {
  display: flex;
  background-color: #495e57;
  justify-content: center;
  padding: 2rem;

  img {
    width: 20%;
  }

  #footer-container {
    width: 75%;
    display: flex;
    justify-content: space-between;

    #reachtous {
      width: 20%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      color: #edefee;
      font-family: var(--karla);
      h2 {
        color: #f4ce14;
        font-family: var(--markaziBold);
      }
    }

    #gettoknow {
      width: 20%;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      a {
        color: #edefee;
        font-family: var(--karla);
      }
      h2 {
        color: #f4ce14;
        font-family: var(--markaziBold);
      }
    }
  }
}
.error-info-page {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #4a5e57;
  color: #edefee;
}

#form{
  width: 100%;
  height: 70dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 2rem;
  }
form{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  font-family: var(--karla);
  padding: 1rem;
  background-color:#495e57;
  border-radius: 10px;
  width: 60%;

  label{
    font-family: var(--karla);
    color: #edefee;
    font-size: 18px;
  }

  input, select{
    padding: 10px;
    border: none;
    border-radius: 8px;
     outline-color: #495e57;
    font-family: var(--karla);
    color:#495e57;
    font-size: 16px;
  }

  #form-heading{
    grid-column: 1/-1;
    text-align: center;
    font-size: 3vw;
    color: #f4ce14;
    font-family: var(--karla);
  }

  #form-button{
    grid-column: 1 / -1;
    text-align: center;
  }
}
#form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: auto;
  border-radius: 10px;
}