* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --markaziBold: "MarkaziText-Bold";
  --karla: "karla", sans-serif;
}
body {
  background-color: white;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;

  &:active, :visited{
    color: #333333;
  }
}
button {
  font-family: var(--karla);
  width: 10rem;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #f4ce14;
  color: #333333;
  cursor: pointer;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem ;
}
nav ul > li {
  font-family: var(--karla);
}
.hamburger {
  display: none;
  cursor: pointer;
  color: #f4ce14;
}

#card {
  width: 20rem;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #e8e8e8;
  filter: drop-shadow(0 0 5px #495e57);

  img {
    width: 100%;
    height: 186px;
  }
  h2 {
    font-family: var(--markaziBold);
    font-size: 3vw;
  }
  p {
    font-family: var(--karla);
  }
  h2,
  p {
    padding: 10px 25px;
    text-align: justify;
    color: #495e57;
  }
}



.error-info-page {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #4a5e57;
  color: #edefee;
}


