a{
    color: black;
    text-decoration: none;
}
nav{
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    font-weight: 500;

    ul{
        display: flex;
        gap: 3rem;
        justify-content: flex-end;
    }
}