.menu-desktop {
  width: 75%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* grid-template-columns: 1fr 3fr; */
  /* align-items: end; */
  /* font-weight: 500; */
}
header{
  padding-inline: 8rem;
}
.menu-desktop ul {
  display: flex;
  gap: 3rem;
  justify-content: flex-end;
  font-size: 1.3vw;
}

@media screen and (max-width: 998px) {
  nav{
    position: static;
  }
  .menu-desktop {
    display: none;
  }
  .hamburger {
    display: inline-block;
    text-align: end;
    font-size: 6dvw;
  }
  header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-mobile {
    position: sticky;
    display: inline-block;
    width: 100%;
    z-index: 9999;
    position: absolute;
    top: 4.5rem;
    right: 0;
    background-color: #495e57d6;
  }


  ul > li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
    background-color: #edefee;
    border-bottom: 2px solid #f4ce14;
    color: #495e57;
  
    &:active {
      color: #edefee;
     
    }
  }
  .menu-mobile ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
    
  } 
}
